.container {
  height: 5rem;
  background-color: #a91079;
  padding: 0 10%;
  color: white;
  border-radius: 0 0 1rem 1rem;
}
.container nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container a {
  color: white;
  text-decoration: none;
}
.container a:hover,
.container a:active,
.container a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15rem;
}
.nav-content a {
  margin-left: 1rem;
}
.action-button {
  color: white !important;
  float: right;
}
.action-button:hover,
.action-button:hover {
  background-color: #570a57 !important;
}
.nav-hamburger {
  display: none;
}
.hamburger-link a{
  color: #570a57  !important;
  text-decoration: none;
}
@media screen and (max-width: 475px) {
  .nav-hamburger {
    display: block;
  }
  .nav-default {
    display: none;
  }
}
