.author-container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}
.books-form {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}
.input-field {
  margin: 1rem 1rem !important;
}
.inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.action-button {
  background-color: #2e0249 !important;
  margin: 1rem 1rem !important;
  width: 15rem;
  height: 3rem !important;
}
.action-button:hover,
.action-button:hover {
  background-color: #570a57 !important;
}
.error-message {
  width: 15rem;
  height: 3rem;
  background-color: #a91079;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
}
.error-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
