.books-buttons {
  padding: 1.5rem 1rem;
  display: flex !important;
  justify-content: center !important;
}
.action-button {
  background-color: #2e0249 !important;
  margin: 0 1rem !important;
}
.action-button:hover,
.action-button:hover {
  background-color: #570a57 !important;
}
.books-grid {
  padding: 1rem 0;
}
.info-paragraph{
  text-align: center;
}