.main-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.image-box {
  display: flex;
  justify-content: center;
  width: 50%;
}
.image-box img {
  width: 75%;
}
.content-box {
  width: 40%;
  margin-left: 5%;
}
.content-div {
  background-color: #a91079;
  height: 3rem;
  display: flex;
  margin-bottom: 5%;
  border-radius: 1rem;
}
.content-box h3 {
  color: white;
  margin-left: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.content-info {
  display: block;
  width: 100%;
}
.content-button {
  margin-top: 5rem;
}
.content-button button {
  width: 100%;
  padding: 1rem;
  background-color: #2e0249;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.mui-button:hover,
.mui-button:active {
  background-color: #570a57 !important;
}
.info-paragraph {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .image-box {
    width: 100%;
  }
  .content-box {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
  }
}
