.card-container {
  display: flex !important;
  justify-content: center;
  margin-top: 4rem;
}
.card-media {
  min-width: 340px;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
}

.mui-button {
  background-color: #2E0249 !important;
  color: white !important;
}
.mui-button:hover,
.mui-button:active {
  background-color: #570A57 !important;
}
.info-paragraph{
  text-align: center;
}